<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <th class="header" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let i = index"> {{pager.pageIndex * pager.pageSize + i + 1}} </td>
        <!-- <td mat-cell *matCellDef="let row"> {{dataSource.filteredData.indexOf(row)}} </td> -->
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>
    
      <!-- Sep Column -->
      <ng-container matColumnDef="id-sep">
        <th class="header-sep" mat-header-cell *matHeaderCellDef></th>
        <td class="cell-sep" mat-cell *matCellDef></td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
      </ng-container>
  
      <!-- Sep Column -->
      <ng-container matColumnDef="name-sep">
        <th class="header-sep" mat-header-cell *matHeaderCellDef></th>
        <td class="cell-sep" mat-cell *matCellDef></td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Name" [(ngModel)]="row.name" [email]="true" (blur)="changeName($event.target.value, row.id)"
                                                            (keyup.enter)="changeName($event.target.value, row.id)" required>
            <mat-icon matSuffix>mode_edit</mat-icon>                                                        
            <mat-error *ngIf="row.name">Invalid e-mail</mat-error>
          </mat-form-field>        
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <!-- Sep Column -->
      <ng-container matColumnDef="salary-sep">
        <th class="header-sep" mat-header-cell *matHeaderCellDef></th>
        <td class="cell-sep" mat-cell *matCellDef></td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
        
      <!-- Salary Column -->
      <ng-container matColumnDef="salary">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
        <td mat-cell *matCellDef="let row"> {{row.salary | currency}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <!-- Sep Column -->
      <ng-container matColumnDef="color-sep">
        <th class="header-sep" mat-header-cell *matHeaderCellDef></th>
        <td class="cell-sep" mat-cell *matCellDef></td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="color">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color.name"> {{row.color.name}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <!-- Sep Column -->
      <ng-container matColumnDef="date-sep">
        <th class="header-sep" mat-header-cell *matHeaderCellDef></th>
        <td class="cell-sep" mat-cell *matCellDef></td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
        
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.date | date:'dd/MM/yyyy hh:mm:ss'}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <!-- Sep Column -->
      <ng-container matColumnDef="locked-sep">
        <th class="header-sep" mat-header-cell *matHeaderCellDef></th>
        <td class="cell-sep" mat-cell *matCellDef></td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
 
      <!-- Locked Column -->
      <ng-container matColumnDef="locked">
          <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <!-- <td mat-cell *matCellDef="let row"><mat-checkbox [(ngModel)]="row.locked"></mat-checkbox></td> -->
          <td mat-cell *matCellDef="let row"><mat-checkbox [checked]="row.locked" (change)="onChange($event, index, row)" ></mat-checkbox></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  
      <!-- Index Column -->
      <ng-container matColumnDef="index-filter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="id-filter-sep">
        <th mat-header-cell *matHeaderCellDef>
        </th>
      </ng-container>

      <!-- ID Column Filter -->
      <ng-container matColumnDef="id-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="id-filter">
            <input type="number" matInput placeholder="Filter by ID" (keyup)="filterById($event.target.value)" >
            <mat-icon  class="id-icon" matSuffix>perm_identity</mat-icon>
          </mat-form-field>
        </th>
      </ng-container>
  
      <ng-container matColumnDef="name-filter-sep">
        <th mat-header-cell *matHeaderCellDef>    
        </th>
      </ng-container>

      <!-- Name Column Filter -->
      <ng-container matColumnDef="name-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="email-filter">
            <input matInput placeholder="Filter by e-mail" [ngModel]="nameFilter" [email]="true" (keyup)="filterByName($event.target.value)" >
            <mat-icon  class="mail-icon" matSuffix>mail</mat-icon>
            <mat-error *ngIf="nameFilter">Invalid e-mail</mat-error>
          </mat-form-field>
        </th>
      </ng-container>
  
      <ng-container matColumnDef="salary-filter-sep">
        <th mat-header-cell *matHeaderCellDef>
        </th>
      </ng-container>

      <!-- Salary Column Filter -->
      <ng-container matColumnDef="salary-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="salary-filter">
            <input type="number" matInput placeholder="Filter by salary" (keyup)="filterBySalary($event.target.value)" >
            <mat-icon  class="salary-icon" matSuffix>attach_money</mat-icon>
          </mat-form-field>
        </th>
      </ng-container>
  
      <ng-container matColumnDef="color-filter-sep">
        <th mat-header-cell *matHeaderCellDef>
        </th>
      </ng-container>

        <!-- Color Column Filter -->
      <ng-container matColumnDef="color-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-select (selectionChange)="filterByColor($event.value, colorSelect)" [ngModel]="colorFilter" multiple #colorSelect placeholder="Filter by color">
            <mat-select-trigger><span>Filter by color</span></mat-select-trigger>
            <button  mat-raised-button class="mat-primary fill text-sm" (click)="selectAll(colorSelect, true)">Select All</button>
            <button mat-raised-button class="mat-accent fill text-sm" (click)="selectAll(colorSelect, false)">Deselect All</button>
            <mat-option *ngFor="let q of qualities" [value]="q" [style.backgroundColor]="getColor(q).name">{{q}}</mat-option>
          </mat-select>
        </th>
      </ng-container>
  
      <ng-container matColumnDef="date-filter-sep">
        <th mat-header-cell *matHeaderCellDef>
        </th>
      </ng-container>

      <!-- Date Column Filter -->
      <ng-container matColumnDef="date-filter">
        <th mat-header-cell *matHeaderCellDef>
          <form [formGroup]="myForm">
          <mat-form-field>
            <input class="since" matInput [matDatepicker]="sincePicker" [max]="tillDate" placeholder="Since date" formControlName="sinceDatePicker"
                    [errorStateMatcher]="matcher" (dateChange)="filterByDate(false, $event.target.value)">
            <mat-datepicker-toggle matPrefix [for]="sincePicker"></mat-datepicker-toggle>
            <mat-datepicker #sincePicker></mat-datepicker>
          </mat-form-field>
          <span>&nbsp;-&nbsp;</span>
          <mat-form-field>
            <input matInput  [matDatepicker]="tillPicker" [min]="sinceDate" placeholder="Till date" formControlName="tillDatePicker"
                    [errorStateMatcher]="matcher" (dateChange)="filterByDate(true, $event.target.value)">
            <mat-datepicker-toggle matSuffix [for]="tillPicker"></mat-datepicker-toggle>
            <mat-datepicker #tillPicker></mat-datepicker>
          </mat-form-field>
          </form>
        </th>
      </ng-container>
  
      <ng-container matColumnDef="locked-filter-sep">
        <th mat-header-cell *matHeaderCellDef>
        </th>
      </ng-container>

      <!-- Locked Column Filter -->
      <ng-container matColumnDef="locked-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-select (selectionChange)="filterByStatus($event.value)" placeholder="Filter by status">
            <mat-option *ngFor="let x of statuses" [value]="x.value">{{x.status}}</mat-option>
          </mat-select>
        </th>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let ev = even" [class.evenRow]="ev" [class.oddRow]="!ev"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  
    <mat-paginator #pager [pageSizeOptions]="[10, 20, 30, 40]" (page)="onPageChange($event)"></mat-paginator>
  </div>